{% extends 'base.html.twig' %}

{% block title %}Hello NavigationController!
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('css/register.css') }}">
	<div class="d-flex flex-column align-items-center justify-content-center pleinePage">
		<div class="width350" id="register">
			<div id="main_form" class="mb-3">
				<center><img src="image/header/instagramLogin.png"></center>
				<p class="blueFacebook text-center">Inscrivez-vous pour voir les photos et vidéos de vos amis.</p>
				<p class="blueFacebook text-center">Se connecter avec Facebook</p>
				<div class="separateur d-flex justify-content-center align-items-center">
					<div class="separateur_barre mr-2"></div>
					<div>
						OU
					</div>
					<div class="separateur_barre ml-2"></div>
				</div>
				{{form(formRegister) }}
					<!-- Lien vers app_register -->
					<div class="text-center" id="no_login">Vous avez un compte ?
						<a href="{{path('app_login')}}">Connectez-vous
						</a>
					</div>
					<div id="suggestion"></div>
				</div>
			</div>
		</div>
	</div>
<div id="footer_login" class="text-center">
	<div id="footer_first_line">
		À propos Blog Emplois Aide API Confidentialité Conditions Comptes																																																				principaux Hashtags Lieux
	</div>
	<div id="footer_second_line">
		Beauté Danse et performance Fitness Nourriture et boissons Maison et																																																				jardin Musique Arts visuels
	</div>
	<div id="footer_last_line"></div>
	Français © 2021 Instagram par Facebook
</div>


{% endblock %}

{% block javascripts %}
	<script defer src="js/UserService.js"></script>


	<script defer src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>


	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>


{% endblock %}
